@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: theme("colors.blue.500");

  &:hover {
    text-decoration: underline;
  }
}

p,
pre {
  margin-bottom: theme("margin.5");
}

/* TODO: move this. */
.rehype-code-title {
  font-weight: theme("fontWeight.bold");
  font-family: theme("fontFamily.mono");
}
